# Hopefully avoid line endings affecting every file hash?
*.toml text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.md text eol=lf
*.js text eol=lf
*.zs text eol=lf
*.json5 text eol=lf
*.properties text eol=lf
